*{
    box-sizing: border-box;
    margin: 0px;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 20px;
}

.outerDiv {
    padding: 2px;
}
.innerDiv{
    border: 1px solid black;
    background-color: #ff00ff;
    height: 150px;
    position: relative;

}

h3{
    border: 1px solid black;
    text-align: center;
    clear: both;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 75px;
}
p{  
    padding: 10px 5px;
}

@media (min-width: 992px) {
    .largeScreen{
        width: 33.33333%;
        float: left;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .mediumScreen{
        width: 50%;
        float: left;
    }
    .fullScreen{
    width: 100%;
}
}